[submodule "Flask"]
	path = flask
	url = https://github.com/swimmy4days/flask
[submodule "aStar"]
	path = aStar
	url = https://github.com/swimmy4days/aStar
[submodule "BrainFuck"]
	path = BrainFuck
	url = git@github.com:https://github.com/swimmy4days/brainfuck.git
